.container {
    position: relative;
    width: 100%;
    height: 90vh;
    padding: 30px;
    border-radius: 10px;
    background-color: #000;
    background-image: url("../../../public/assets/images/bg-sidebar-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container ul {
    display: flex;
    list-style: none;
    width: 100%;
    flex-direction: column;
}

.flex {
    display: flex;
    gap: 20px;
}

.ActiveIcon {
    background-color: var(--Magnolia);
    color: #000;
}

.title,
.name {
    color: var(--Magnolia);
    text-transform: uppercase;
}

.title {
    font-weight: 200;
    font-size: small;
}

.name {
    font-weight: 700;
}