.title {
    font-weight: 700;
    letter-spacing: -1px;
}

.form {
    margin: 40px 0 0 0;
    width: 70%;
    margin: 10px auto;
}

.group {
    display: block;
    margin: 10px 0 20px 0;
}

.group label {
    font-size: 16px;
    margin: 10px 0;
}

.input {
    background-color: transparent;
    border: 2px solid #eee;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
}

.input:focus {
    border: 2px solid var(--purplishBlue);
}